html {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  background-color: #00539f;
}

h1 {
  text-align: center;
  font-size: 60px;
  /* border: 2px solid black; */
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  line-height: 1;
  letter-spacing: 1px;
  font-size: 18px;
}

body {
  width: 600px;
  /* margin: 0 auto 实现body水平居中 */
  margin: 0 auto;
  background-color: #1df261;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}
